<section class="d-flex flex-column align-items-center">
  <h3>Blocipedia: Social, Markdown Wikis</h3>
  <p><%= devise_error_messages! %></p>
</section>

<section class="d-flex rounded flex-column align-items-center">
  <div class="d-flex flex-column align-items-center jumbotron w-50">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :role, 'Account Type' %>
        <%= f.select :role, options_for_select(User.non_admin_roles, current_user.role), {}, {onChange: "javascript: show_fees(this, \"#{current_user.role}\");"} %>
        <%= content_tag :span, 'A $4.99 fee will be charged to upgrade your account', class: 'upgrade-info' %>
        <%= link_to "Pay with Card", new_charge_path, class: 'upgrade-info' %>
        <%= link_to "Downgrade membership", users_downgrade_path, class: 'downgrade-info', data: { confirm: 'This will also make all of your currently private wikis public. Are you sure?' } %>
      </div>

      <%= content_tag :hr %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</section>