<div class="row">
 <div class="col-md-8">
   <p>Title: <%= @wiki.title %></p>
   <p>Body: <%= display_markdown(@wiki.body) %></p>
   <p>private: <%= @wiki.private ? 'yes' : 'no' %></p>
 </div>
 <div class="col-md-4">
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <%= link_to "Delete wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
 </div>
</div>

<%= link_to "View All", wikis_path %>